html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-smooth: auto;
  font-family: 'Arial',"Microsoft YaHei", sans-serif;
  background-color: #1a1a1a;
  color: #333;
  font-size: 13px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #bcbcbc;
  text-decoration: none;
}

a:hover {
  transform: opacity .5 linear;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.highlighted {
  color: #fff;
}

.binance-theme {
  color: #e8b342;
}

.binance-logo {
  display: inline-block;
  float: left;
  padding: 8px 25px 5px;
}

.exchange-item {
  position: relative;
}

.exchange-item:before {
  position: absolute;
  content: '';
  background-image: url(../images/exchange-icon.png);
  left: -24px;
  height: 17px;
  width: 17px;
}

.binance-cols:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}

.binance-header {
  background-color: #3c3c3c;
  color: #b1b1b1;
}

.left-nav.binance-header-divsion .binance-header-or {
  padding: 15px 0;
}

.navigation .left-nav {
  margin: 0;
  padding: 0;
}

.left-nav.binance-header-divsion .binance-header-item {
  padding: 15px 8px;
}

.binance-header-divsion {
  border-right: 1px solid #5b5b5b;
}

.binance-promo {
  text-align: center;
}

.binance-promo .promo-signup {
  color: #999999;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.binance-promo .promo-signup li {
  display: inline-block;
  padding: 0 10px;
}

.binance-advertisement-item {
  float: left;
  display: inline-block;
  padding: 0 5px;
}

.binance-main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.binance-news-panel {
  background-color: #262626;
}

.binance-news-panel .binance-main-content {
  padding: 0 20px;
}

.binance-news-panel .news-item {
  float: left;
  display: inline-block;
  width: 33.3%;
}

.exchange-topic-panel {
  margin: 0;
  padding: 0;
}

.topic-panel-inner {
  line-height: 0.4;
  position: relative;
}

.topic-panel-percentage {
  position: absolute;
  top: 0;
  right: 0;
}

.exchange-topic-panel li {
  float: left;
  display: inline-block;
  width: 16.7%;
  margin: 0 1.4881% 20px;
}

.exchange-topic-panel li:first-child .new-decorated {
  position: relative;
}

.exchange-topic-panel li:first-child .new-decorated:after {
  content: 'NEW';
  background-color: #e8b342;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  margin-left: 6px;
  top: 0;
  padding: 1px 2px;
  position: absolute;
  line-height: initial;
}

.exchange-topic-panel li:first-child .new-decorated:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #e8b342;
  right: -8px;
  top: 2px;
  position: absolute;
}

.topic-emphasized {
  font-weight: 600;
}

.topic-panel-volume {
  color: #666;
}

.exchange-category-panel {
  display: inline-block;
}

.exchange-data-panel,
.exchange-category-panel {
  padding: 0;
  margin: 0;
}

.exchange-data-panel {
  border: 1px solid #e6e6e6;
  padding: 15px;
  width: 100%;
  top: -1px;
  position: relative;
  border-spacing: 0 10px;
  border-collapse: separate;
}

.last-price-base-theme,
.exchange-data-panel th {
  color: #a0a0a0;
}

.exchange-data-panel th,
.exchange-data-panel td {
  text-align: right;
}

th.pair-cell,
td.pair-cell {
  text-align: center;
}

th.last-price-cell,
td.last-price-cell {
  text-align: left;
}

.day-change-positive {
  color: #83b422;
}

.day-change-negative {
  color: #ea0070;
}

.binance-exchange-panel {
  background-color: #f7f7f7;
}

.binance-keyword {
  border: 1px solid #d4d4d4;
  font-size: 16px;
  max-width: 120px;
  margin-left: 15px;
  padding: 3px 1px 3px 24px;
  position: relative;
  background-image: url(../images/icon-search.png);
  background-position: 4px 4px;
  background-repeat: no-repeat;
}

.category-item {
  display: inline-block;
  padding: 10px 20px;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  cursor: pointer;
}

.category-item.active {
  font-weight: 600;
  border-bottom: 1px solid #f7f7f7;
  z-index: 10;
  position: relative;
}

.category-item:first-child {
  position: relative;
  padding-left: 30px;
}

.category-item:first-child:before {
  position: absolute;
  background-image: url(../images/icon-star-shape.png);
  background-repeat: no-repeat;
  content: '';
  height: 11px;
  width: 11px;
  left: 15px;
  top: 11px;
}

.category-item:last-child {
  border-right: 1px solid #e6e6e6;
}

.icon-star {
  position: relative;
  display: inline-block;
}

.icon-star:hover {
  cursor: pointer;
}

.icon-star:before {
  background-repeat: no-repeat;
  position: absolute;
  content: '';
  height: 11px;
  width: 11px;
  top: -11px;
}

.icon-star.gold-star:before  {
  background-image: url(../images/icon-star-filled-gold.png);
}

.icon-star.grey-star:before  {
  background-image: url(../images/icon-star-filled-grey.png);
}

.left-nav,
.right-nav {
  display: inline-block;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.right-nav li {
  float: left;
  padding: 0 10px;
}

.binance-content-links {
  padding-top: 30px;
}

.binance-content-links .right-nav {
  position: relative;
}

.binance-download {
  position: absolute;
  bottom: -60px;
  right: 0;
  border: 1px solid #999999;
  padding: 9px 15px 9px 35px;
  color: #999999;
  border-radius: 3px;
}

.binance-download:hover {
  filter: brightness(80%);
}

.binance-download:before {
  background-image: url(../images/icon-download.png);
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  left: 16px;
  top: 9px;
}

.binance-footer ul,
.binance-content-links ul {
  margin: 0;
  padding: 0;
}

.binance-footer ul {
  padding-bottom: 10px;
}

.binance-footer .binance-main-content {
  position: relative;
}

.binance-footer .binance-main-content:after {
  position: absolute;
  content: '';
  background-image: url(../images/icon-desktop.png);
  width: 231px;
  height: 86px;
  right: 12%;
  top: -64px;
}

.binance-footer ul li,
.binance-content-links ul li {
  display: inline-block;
  padding: 0 5px 5px 0;
}

.binance-content-links ul li a {
  color: #868686;
}

.binance-footer ul li a {
  color: #999999;
  font-weight: 600;
}

.footer-cta.right-nav ul li:first-child {
  padding-right: 20px;
}

.footer-cta.right-nav ul li {
  padding: 0 4px;
}

.footer-note {
  display: inline-block;
  color: #999999;
}

.footer-note.right-nav ul li {
  padding-right: 20px;
}

.footer-cta-container {
  border-bottom: 1px solid #39393b;
}

.footer-note-container {
  padding: 10px 0;
}

.icon-sns a:hover {
  color: #fff;
}

.note-time {
  margin-left: 15px;
}

.note-time:before {
  background-image: url(../images/icon-clock.png);
  height: 12px;
  width: 12px;
  left: -15px;
}

.note-time,
.note-connect-status {
  position: relative;
}

.note-connect-status {
  margin-left: 20px;
}

.note-connect-status:before {
  background-image: url(../images/icon-wifi.png);
  height: 12px;
  width: 17px;
  left: -20px;
}

.note-time:before,
.note-connect-status:before {
  background-repeat: no-repeat;
  position: absolute;
  content: '';
  top: 2px;
}
