<!DOCTYPE html>
<html lang="ja-JP" ng-app="app">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Binance App">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Mercari Test App">
    <meta name="theme-color" content="#2F3BA2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-cloak>
    <header class="binance-header">
      <nav class="binance-cols">
        <div class="left-nav header-part">
          <a href="" class="binance-logo binance-header-divsion">
            <img src="images/logo.png" alt="binance-logo-image">
          </a>
          <ul class="left-nav">
            <li class="exchange-item">
              <a href="#">Exchange</a>
            </li>
          </ul>
        </div>
        <div class="right-nav navigation header-part">
          <ul class="left-nav binance-header-divsion">
            <li class="binance-header-item">
              <a href="#">Join us</a>
            </li>
            <li class="binance-header-item">
              <a href="#">Support</a>
            </li>
            <li class="binance-header-item">
              <a href="#">News</a>
            </li>
          </ul>
          <ul class="left-nav binance-header-divsion">
            <li class="binance-header-item">
              <a href="#">Login</a>
            </li>
            <li class="binance-header-or">
              or
            </li>
            <li class="sign-up binance-header-item">
              <a href="#">Rigister</a>
            </li>
          </ul>
          <ul class="left-nav binance-header-divsion">
            <li class="locale binance-header-item">
              <a href="#">
                <img src="images/locale.png" alt="locale">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="binance-promo binance-main-content">
        <h2 class="binance-main-title binance-theme">Binance - Exchange The World</h2>
        <ul class="promo-signup">
          <li>
            <a href="#">
              <span class="highlighted">Create Account</span>
            </a>
          </li>
          <span class="highlighted">|</span>
          <li>
            Already registered?
            <a href="#">
              <span class="highlighted">Login</span>
            </a>
          </li>
        </ul>
        <ul class="binance-cols">
          <li class="binance-advertisement-item">
            <a href="">
              <img src="images/banner-1.png" alt="banner-1">
            </a>
          </li>
          <li class="binance-advertisement-item">
            <a href="">
              <img src="images/banner-2.png" alt="banner-2">
            </a>
          </li>
          <li class="binance-advertisement-item">
            <a href="">
              <img src="images/banner-3.png" alt="banner-3">
            </a>
          </li>
          <li class="binance-advertisement-item">
            <a href="">
              <img src="images/banner-4.png" alt="banner-4">
            </a>
          </li>
        </ul>
      </div>
      <div class="binance-news-panel">
        <div class="binance-main-content">
          <ul class="binance-cols">
            <li class="news-item">
              <a href="">Binance Adds DNT/BTC Trading Pair      (10-16)</a>
            </li>
            <li class="news-item">
              <a href="">Binance Coin Burn in 2017 Fall      (10-12)</a>
            </li>
            <li class="news-item">
              <a href="">SUB Purchases Leaderboard Reward ...       (9-25)</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="binance-exchange-panel">
        <div class="binance-main-content" ng-controller="MainCtrl as mainCtrl">
          <ul class="exchange-topic-panel binance-cols">
            <li>
              <div class="topic-panel-inner">
                <h4>
                  <span class="new-decorated">HSR/BTC</span>
                </h4>
                <span class="topic-emphasized">0.004400</span>
                <span>$175.00</span>
                <p class="topic-panel-volume">
                  <span class="text-chunk">Volume: </span>
                  <span class="text-chunk">425,204.85 USDT</span>
                </p>
                <span class="topic-panel-percentage day-change-positive">30.00%</span>
              </div>
            </li>
            <li>
              <div class="topic-panel-inner">
                <h4>HSR/BTC</h4>
                <span class="topic-emphasized">0.004400</span>
                <span>$175.00</span>
                <p class="topic-panel-volume">
                  <span class="text-chunk">Volume: </span>
                  <span class="text-chunk">425,204.85 USDT</span>
                </p>
                <span class="topic-panel-percentage day-change-negative">-15.29%</span>
              </div>
            </li>
            <li>
              <div class="topic-panel-inner">
                <h4>HSR/BTC</h4>
                <span class="topic-emphasized">0.004400</span>
                <span>$175.00</span>
                <p class="topic-panel-volume">
                  <span class="text-chunk">Volume: </span>
                  <span class="text-chunk">425,204.85 USDT</span>
                </p>
                <span class="topic-panel-percentage day-change-negative">-5.90%</span>
              </div>
            </li>
            <li>
              <div class="topic-panel-inner">
                <h4>HSR/BTC</h4>
                <span class="topic-emphasized">0.004400</span>
                <span>$175.00</span>
                <p class="topic-panel-volume">
                  <span class="text-chunk">Volume: </span>
                  <span class="text-chunk">425,204.85 USDT</span>
                </p>
                <span class="topic-panel-percentage day-change-positive">20.80%</span>
              </div>
            </li>
            <li>
              <div class="topic-panel-inner">
                <h4>HSR/BTC</h4>
                <span class="topic-emphasized">0.004400</span>
                <span>$175.00</span>
                <p class="topic-panel-volume">
                  <span class="text-chunk">Volume: </span>
                  <span class="text-chunk">425,204.85 USDT</span>
                </p>
                <span class="topic-panel-percentage day-change-positive">6.99%</span>
              </div>
            </li>
          </ul>
          <ul class="exchange-category-panel">
            <li ng-click="mainCtrl.setSelectedCategory(category)" ng-class="mainCtrl.selectedCategory === category ? 'binance-theme active': ''" class="category-item" ng-repeat="category in mainCtrl.categories track by $index">
              {{category}}
            </li>
          </ul>
          <input class="binance-keyword" ng-model="mainCtrl.keyword" type="text">
          <div class="table-container">
            <table class="exchange-data-panel">
              <thead>
                <tr>
                  <th></th>
                  <th class="pair-cell">
                    <span class="sort-descending">Pair</span>
                  </th>
                  <th class="last-price-cell">Last Price</th>
                  <th>
                    <span class="sort-descending">24 Change</span>
                  </th>
                  <th>24 High</th>
                  <th>24 Low</th>
                  <th>
                    <span class="sort-descending">Volume</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="data-item" ng-repeat="item in mainCtrl.items track by $index" ng-click="mainCtrl.select">
                  <td>
                    <i class="icon-star" ng-click="mainCtrl.setFavoriteItem(item);" ng-class="mainCtrl.favorites.includes(item) ? 'gold-star' : 'grey-star'"></i>
                  </td>
                  <td class="pair-cell">{{item.pair}}</td>
                  <td class="last-price-cell">
                    {{item.day_high}}
                    <span class="last-price-base-theme">
                      / {{mainCtrl.dataService.lastPriceBaseFormatter(item.last_price_base)}}
                    </span>
                  </td>
                  <td ng-class="item.day_change > 0 ? 'day-change-positive' : 'day-change-negative'">{{mainCtrl.dataService.dayChangeFormatter(item.day_change)}}%</td>
                  <td>{{item.day_high}}</td>
                  <td>{{item.day_low}}</td>
                  <td>{{mainCtrl.dataService.volumeFormatter(item.volume)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="binance-content-links binance-cols">
            <div class="left-nav">
              <p>Links:</p>
              <ul>
                <li>
                  <a href="#">BABI</a>
                </li>
                <li>
                  <a href="#">Sosobtc</a>
                </li>
                <li>
                  <a href="#">Coinmarketcap</a>
                </li>
                <li>
                  <a href="#">Newsbtc</a>
                </li>
                <li>
                  <a href="#">BABI</a>
                </li>
                <li>
                  <a href="#">Sosobtc</a>
                </li>
                <li>
                  <a href="#">Coinmarketcap</a>
                </li>
              </ul>
            </div>
            <div class="right-nav">
              <a class="binance-download" href="#" value="Download">Download</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="binance-footer">
      <div class="binance-main-content">
        <div class="footer-cta-container binance-cols">
          <div class="footer-cta left-nav">
            <ul>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
              <li>
                <a href="#">Privacy</a>
              </li>
              <li>
                <a href="#">Fees</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
              <li>
                <a href="#">API</a>
              </li>
              <li>
                <a href="#">Careers</a>
              </li>
            </ul>
          </div>
          <div class="footer-cta right-nav">
            <ul>
              <li class="icon-sns">
                <a href="mailto:support@binance.zendesk.com">
                  support@binance.zendesk.com
                </a>
              </li>
              <li class="icon-sns">
                <a href="#">
                  <img src="images/icon-facebook.png" alt="icon-facebook">
                </a>
              </li>
              <li class="icon-sns">
                <a href="#">
                  <img src="images/icon-twitter.png" alt="icon-twitter">
                </a>
              </li>
              <li class="icon-sns">
                <a href="#">
                  <img src="images/icon-reddit.png" alt="icon-reddit">
                </a>
              </li>
              <li class="icon-sns">
                <a href="#">
                  <img src="images/icon-sns-4.png" alt="icon-sns-4">
                </a>
              </li>
              <li class="icon-sns">
                <a href="#">
                  <img src="images/icon-qq.png" alt="icon-qq">
                </a>
              </li>
              <li class="icon-sns">
                <a href="#">
                  <img src="images/icon-wechat.png" alt="icon-wechat">
                </a>
              </li>
              <li class="icon-sns">
                <a href="#">
                  <img src="images/icon-telegram.png" alt="icon-telegram">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-note-container binance-cols">
          <div class="footer-note left-nav">
            © 2017 Binance.com All rights Reserved
          </div>
          <div class="footer-note right-nav">
            <ul>
              <li>
                24h Volume：
                <span class="highlighted">16,022.80</span> BTC /
                <span class="highlighted">36,924.77</span> ETH /
                <span class="highlighted">14,418,513.33</span> USDT</li>
              <li class="note-time">
                <span class="highlighted">12017-05-31 15:22:20</span>
              </li>
              <li class="note-connect-status">Connected</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
